<template name="admin">
	<div class="page-header">
        <h1>Admin</h1>
    </div>
	
	{{>userTable}}

	{{>orgTable}}

	<div class="well">
		{{>newOrganizationForm}}
	</div>

	{{>plans}}

</template>

<template name="plans">
	<h2>All Plans</h2>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Code</th>
			</tr>
		</thead>
		<tbody>
		{{#each mung_getPlans}}
			<tr>
				<td>{{name}}</td>
				<td>{{code}}</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</template>

<template name="userTable">
	<h2>All Users</h2>
	{{> reactiveTable settings=settings collection=userCollection class="table table-striped table-hover"}}
</template>
<template name="orgTable">
	<h2>All Organizations</h2>
	{{> reactiveTable settings=settings collection=orgCollection class="table table-striped table-hover"}}
</template>
<template name="orgAccountPlan">
	{{mung_getPlanName}}
</template>