<template name="canvas">
		{{>sidebar}}
		<div class="col-md-8" id="canvas">
			<!--canvasItem templates get rendered here-->

			{{>showUploadDataSet}}

			{{# each canvasItems}}
				{{>canvasItem}}
			{{/each}}
			
			{{>showSummaryGraph}}
		</div>
</template>

<template name="uploadDataSet">
	<div id="uploader-wrap" class="well">
		{{> upload_bootstrap fileTypes='.csv' multiple=true }}
	</div>
</template>


<template name="showUploadDataSet">  
  {{#if showUploadDataSet}}
      {{> Template.dynamic template=showUploadDataSet}}
  {{/if}}
</template>

