<template name="organization">
	<div class="page-header">
        <h1>{{name}} Management <small><sup class="label label-info">{{plan}}</sup></small></h1>
    </div>

    {{>orgUsers}}

    <!--
	<table class="table table-striped table-hover">
        <thead>
    		<tr>
    			<th>Full Name</th>
    			<th>Email</th>
    			<th>User Type</th>
    			<th>Account Status</th>
    			<th>Organization</th>
    			<th>Account Plan</th>
    		</tr>
        </thead>
        <tbody>
    	{{#each user}}
    		<tr>
    			<td><a href="/account/{{_id}}">{{profile.name}}</a></td>
    			<td><a href="/account/{{_id}}">{{emails.[0].address}}</a></td>
    			<td>{{roles.[0]}}</td>
    			<td>{{profile.accountStatus}}</td>
    			<td>{{profile.orgName}}</td>
    			<td>{{userPlan}}</td>
    		</tr>
    	{{/each}}
        </tbody>
	</table>-->

	<form class="form-horizontal">
            <fieldset>
            <legend>Add New User</legend>
                <div class="form-group">
                   
                    <div class="form-group">
                        <label for="email" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="email" placeholder="Email" />
                        </div>
                    </div>

                   
                    <div class="form-group">
                        <label for="displayName" class="col-lg-2 control-label">Full Name</label>
                         <div class="col-lg-6">
                            <input type="text" class="form-control" name="displayName" placeholder="Full Name" value="" />
                        </div>
                    </div>

                    <input type="hidden" name="orgId" value="{{_id}}" />
                    <input type="hidden" name="orgName" value="{{name}}" />
                    <input type="hidden" name="accountCode" value="{{accountCode}}" />


                    <div class="form-group">
                        <div class="col-lg-6 col-lg-offset-2">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </div>
            </fieldset>
    </form>

</template>

<template name="orgUsers">
    {{> reactiveTable settings=settings collection=orgUsers class="table table-striped table-hover"}}
</template>

<template name="orgPlan">
    {{orgPlan}}
</template>