.canvas-item {
	background:@white;
	color: @darkGray;
	position:relative;
	padding: @paddingSmall;
	margin: @marginSmall;
	.options-toggle {
		position:absolute;
		right:5px;
		bottom:5px;
		cursor:pointer;
	}
	.options {
		display:none;
	}
}