<template name="canvasItem">
	{{# if currentUser }}<div class="canvas-item" id="{{_id}}">
		<h4>{{title}}</h4>
		<i class="fa fa-cog options-toggle"></i>
		<div class="options">
			<div class="label label-primary summary">Summary</div>
			<div class="label label-primary properties-toggle">Properties</div>
			<div class="properties"><i class="fa fa-times close-properties"></i>
				<form>
				{{#each properties}}
					<div class="checkbox">
                        <label>
                          <input class="property-checkbox" type="checkbox" value="{{this}}" checked/> {{this}}
                        </label>
                      </div>
				{{/each}}
				</form>

			</div>
			<div class="label label-danger remove-canvas-item"><i class="fa fa-times"></i> Remove</div>
		</div>
	</div>  {{/if}}
</template>