<template name="collectionsList">
	<ul class="nav nav-pills nav-stacked collections-list">
		{{#each collections}}
			<li><i class="fa fa-cog settings-toggle"></i>  
				<ul class="settings list-unstyled"><i class="fa fa-times close"></i> 
					<li><form><input class="edit-name" type="text" id="edit-collection-{{_id}}" value="{{title}}" /><input type="submit" value="Save" class="btn btn-xs btn-primary" /></form></li>
					<li><span class="delete"><i class="fa fa-trash-o"></i> Remove Collection</span></li>
				</ul>
				{{>collectionItem}}
			</li>
		{{/each}}
		<!--
		https://github.com/wdavidw/node-csv
		https://github.com/tomitrescak/meteor-uploads
		http://stackoverflow.com/questions/19314200/using-node-csv-and-meteor-file-to-import-csv-into-a-collection
		-->
		{{> upload_bootstrap fileTypes='.csv' multiple=true }}
		<!--<li><button class="btn btn-primary btn-sm"><i class="fa fa-plus-circle"></i> Add new collection</button></li>-->
	</ul>
</template>


<template name="collectionItem">
	<span class="collection-list-item" id="collection-list-{{_id}}">{{title}}</span>
</template>