<template name="newOrganizationForm">

	<form class="form-horizontal">
            <fieldset>
            <legend>Add New Organization</legend>
                <div class="form-group">
                   
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Organization</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="displayName" placeholder="Organization name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="accountPlan" class="col-lg-2 control-label">Account Plan</label>
                        <div class="col-lg-6">
                            <select class="form-control" name="accountCode">
                                {{#each mung_getPlans}}
                                    <option value="{{code}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-lg-6 col-lg-offset-2">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </div>
            </fieldset>
    </form>

</template>